*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.texto{
    text-align: center;
}
.container {
    display: flex;
    
}

.colum2{
    margin-top: 72px;
}
.colum3{
    margin-top: 216px;
}
.columna {
    margin-top: 5rem;
    display: flex;
    margin-left: 18rem;
    
}

.colum4, .colum5, .colum6, .colum7, .colum8, .colum9, .colum10, .colum11, .colum12, .colum13, .colum14, .colum15, .colum16, .colum17 {
    margin-top: 0; 
    margin-left: 0;
}

.general{
    text-align: center;
    margin: 2rem;
}
.elementos {
    border: solid 1px black ;
    width: 70px;
    height: auto;
    transition: transform 0.3s ease;
}
.elementos:hover{
    transform: scale(1.5);
    z-index: 1;
}
.verde{
    background-color: green;
}
.azul{
    background-color: #0cc;
}
.rosado{
    background-color: palevioletred;
}

.pink{
    background-color: pink;
}
.plum{
    background-color: plum;
}
.rojo{
    background-color: red;
}
.verdosos{
    background-color: greenyellow;
}
