

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Estilos para formularios */
  .user-box input {
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
  }
  
  .user-box label {
    color: #fff;
    pointer-events: none;
  }
  
  /* Estilos para el botón */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
 
  .forma {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;

    border-radius: 10px;
    background: rgba(31, 50, 74, 0.7); 
    border: 2px solid rgba(255, 255, 255, 0.3); 
  }
  

  
.x1{
    background-color: red !important;
}
.x2{
    background-color: blue !important;
}
.x3{
    background-color: palegreen !important;
}
.x4{
    background-color: tomato !important;
}
.table{
  text-align: center;
}