

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Estilos para formularios */
  .user-box input {
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
  }
  
  .user-box label {
    color: #fff;
    pointer-events: none;
  }
  
  /* Estilos para el botón */
  button {
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }
  
  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
 
  .forma {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;

    border-radius: 10px;
    background: rgba(31, 50, 74, 0.7); 
    border: 2px solid rgba(255, 255, 255, 0.3); 
  }
  


  
.x1{
    background-color:#ff0303 !important;
}
.x2{
    background-color: #0404e2 !important;
}
.x3{
    background-color: #36fc70 !important;
}
.x4{
    background-color: #fc4b08 !important;
}
.table{
  text-align: center;
}