<mat-toolbar>
    <span style="font-size: 24px; font-weight: bold;">&#123;JSON&#125; Placeholder</span>

    <span class="example-spacer"></span>

    <a mat-button routerLink="user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Users</a>

    <a mat-button routerLink="commets" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Comments</a>

    <a mat-button routerLink="album" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Albums</a>

    <a mat-button routerLink="post" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Posts</a>

</mat-toolbar>