@if (dataSource) {

<button mat-flat-button routerLink="CreateAlbum" style="margin-bottom:1rem;">Create Album</button>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="full-width-table">
        <!-- Columna: ID -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
        </ng-container>

        <!-- Columna: Nombre -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
        </ng-container>


        <!-- Columna: Actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let element">
                <div class="" style="display: flex;">

                    <button mat-flat-button routerLink="updateAlbum/{{element.id}}">Edit</button>
                    <!-- <button mat-flat-button>Edit</button> -->
                    <a mat-stroked-button class="button" (click)="Delete(element.id)">Delete</a>
                    <!-- <a class="button" mat-stroked-button>Delete</a> -->
                </div>
            </td>
        </ng-container>

        <!-- Fila de encabezado -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Fila de datos -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Paginador -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
}