body{
  font-family: 'Courier New', Courier, monospace;
  background-image: url(../img/fondos-pantalla/6077811.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fondo{
  background-color: rgba(0, 0, 0, 0.473);
}
.img-login{
  width: 250px;
}
.box-area{
  width: 930px;
}


.texto{
  font-family: 'Courier New', Courier, monospace; 
  font-weight: 600;
}

.img-google{
  width:20px
}

.form_style {
  outline: none;
  border: 2px solid #264143;
  box-shadow: 3px 4px 0px 1px #5c4ce9;
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}

.form_style:focus, .btn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px #5c4ce9;
}