.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.general {
    padding: 20px;
    border-radius: 10px;
    background-color: grey  ;
}
.display {
    font-size: 24px;
    text-align: right;
    width: 93%; 
    padding: 10px;
    margin: auto; 
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.blue{
    background-color: rgb(29, 29, 230);
}
.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.btn {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin-right: 10px;
}
.btn:last-child {
    margin-right: 0;
}